 <article class="post">
   
    <div class="post-title">
        <a href="/post/{{id}}">{{title}}</a>
    </div>
    <div class="post-info">
        Created By: <span style="font-weight: bold;">{{user.username}}</span> on {{format_date created_at}}
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>    
    </div>              
</article>