<section class="wrapper">



<article>
  <a class="btn" href="/dashboard">Back to dashboard</a>
  <h2 class='banner'>Edit Post</h2>
  <div class="login"> 
  <form class="edit-post-form">
    <div>
      <input class="new-post" name="post-title" type="text" value="{{post.title}}" />
    </div>
    <div>
      <textarea name='post-content' id="post-content">{{post.post_content}}</textarea>
    </div>
    <div>
      Created by you on {{format_date post.created_at}}
      |
      <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
    </div>
    <button class='btn' type="submit">Save post</button>
    <button type="button" class="delete-post-btn btn">Delete post</button>
  </form>
  </div>
</article>
<article>
  <h2 class='banner'>Add Comments</h2>
  <form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button class='btn' type="submit">add comment</button>
  </div>
</form>

{{> comments post.comments}}
</article>
</section>
<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>