<article class="post">
    <div class="post-title">
        <a href="{{post.post_url}}" target="_blank">{{post.title}}</a>
        <span>({{post.post_url}})</span>
    </div>
    <div class="post-info">
        Created By: <span style="font-weight: bold;">{{post.user.username}}</span> on {{post.created_at}}
        <a href="/post/{{post.id}}">{{post.comments.length}} comment(s)</a>
                
     </div>
     {{#if loggedIn}}
     <form class='comment-form'>
         <div>
             <textarea name='comment-body'></textarea>
         </div>
         <button class='btn' type="submit">New Comment</button>
     </form> 
     {{/if}}
     <div class="comments">
         {{#each post.comments}}
         <section class="comment">
             <div class="comment-byline">
                Created by {{user.username}} on {{created_at}}
             </div>
             <div class='text'>
                 {{comment_text}}
             </div>
         </section>
         {{/each}}
     </div> 
     {{#if loggedIn}} 
     <script src="/javascript/comment.js"></script>    
     {{/if}}  
</article>